.myStyle {
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Images/Background.jpg");
};

.link {
  text-decoration: none;
  color: black ;

  &__header{
    text-decoration: none;
    color: white
  }
}

.header {
  color: black;
  margin-top: 0
}

.mapContainer{
  height: 85vh;
  width: 100%;
}

.pointContaier{
  display: flex
}
.pointRatio{
  height: 100vh;
  justify-content: center;
  flex: 1 1 30%;
  overflow: scroll;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
}
